<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.petmily.mapper.LookBoardMapper">

    <!--=======BasicMapper 메소드=======-->
    <select id="selectByPk" resultType="kh.petmily.domain.look_board.LookBoard">
        select *
        from LOOKANIMALBOARD
        where LANUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into LOOKANIMALBOARD(MNUMBER, SPECIES, KIND, LOCATION, TITLE, CONTENT
        <if test='imgPath != null and imgPath !=""'>
            ,IMGPATH
        </if>
        )
        values (#{mNumber}, #{species}, #{kind}, #{location}, #{title}, #{content}

        <if test='imgPath != null and imgPath !=""'>
            ,#{imgPath}
        </if>
        )
    </insert>

    <update id="update">
        update LOOKANIMALBOARD
        set SPECIES  = #{species},
            KIND     = #{kind},
            LOCATION = #{location},
        <if test='imgPath != null '>
            IMGPATH = #{imgPath},
        </if>
            TITLE    = #{title},
            CONTENT  = #{content}
        where LANUMBER = #{laNumber}
    </update>

    <delete id="delete">
        delete
        from LOOKANIMALBOARD
        where LANUMBER = #{pk}
    </delete>
    <!--=======BasicMapper 메소드=======-->

    <select id="selectCountWithCondition" resultType="java.lang.Integer">
        select count(*)
        from LOOKANIMALBOARD
        <where>
            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="animalState != null and animalState != 'allAnimalState'">
                and ANIMALSTATE = #{animalState}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and ( TITLE like '%' || #{keyword} || '%'
                or CONTENT like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%' )
            </if>
        </where>
    </select>

    <select id="selectIndex" resultType="kh.petmily.domain.look_board.LookBoard">
        select *
        from (select ROWNUM as NUM, A.*
              FROM (select * from LOOKANIMALBOARD order by LANUMBER DESC) A)
        where NUM between #{start} and #{end}
    </select>

    <select id="selectIndexWithCondition" resultType="kh.petmily.domain.look_board.LookBoard">
        select *
        from (select ROWNUM as NUM, A.*
        FROM (select *
        from LOOKANIMALBOARD
        <where>
            <if test="species != null and species != 'allSpecies'">
                and SPECIES = #{species}
            </if>

            <if test="animalState != null and animalState != 'allAnimalState'">
                and ANIMALSTATE = #{animalState}
            </if>

            <if test="keyword != null and keyword != 'allKeyword'">
                and ( TITLE like '%' || #{keyword} || '%'
                or CONTENT like '%' || #{keyword} || '%'
                or KIND like '%' || #{keyword} || '%'
                or LOCATION like '%' || #{keyword} || '%' )
            </if>
        </where>
        order by LANUMBER DESC) A)
        where NUM between #{start} and #{end}
    </select>

    <select id="selectName" resultType="java.lang.String">
        select M.NAME
        from LOOKANIMALBOARD L
                 inner join MEMBER M on L.MNUMBER = M.MNUMBER
        where L.LANUMBER = #{pk}
    </select>

    <!--====== 조회수 추가 ======-->
    <update id="updateViewCount">
        update LOOKANIMALBOARD
        set VIEWCOUNT = VIEWCOUNT + 1
        where LANUMBER = #{pk}
    </update>


    <!--=======look-find 연결=======-->
    <select id="selectMatchedFa" resultType="java.lang.Integer">
        select FANUMBER
        from FINDANIMALBOARD
        <where>
            SPECIES = #{species}
            <if test="kind != '모름'">
                and (KIND = #{kind} or KIND = '모름')
            </if>
            <if test="location != '모름'">
                and (LOCATION = #{location} or LOCATION = '모름')
            </if>
        </where>
    </select>

    <update id="changeState">
        update LOOKANIMALBOARD
        set ANIMALSTATE = '매칭됨'
        where LANUMBER = #{laNumber}
    </update>

    <update id="backState">
        update LOOKANIMALBOARD
        set ANIMALSTATE = '보호'
        where LANUMBER = #{laNumber}
    </update>

    <update id="changeStateFind">
        update FINDANIMALBOARD
        set ANIMALSTATE = '매칭됨'
        where FANUMBER = #{faNumber}
    </update>

    <update id="backStateFind">
        update FINDANIMALBOARD
        set ANIMALSTATE = '실종'
        where FANUMBER = #{faNumber}
    </update>

    <select id="selectByPkMax" resultType="java.lang.Integer">
        select MAX(LANUMBER)
        from LOOKANIMALBOARD
    </select>

    <select id="selectAll" resultType="kh.petmily.domain.look_board.LookBoard">
        select *
        from LOOKANIMALBOARD
        order by LANUMBER desc
    </select>
</mapper>