<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kh.petmily.mapper.VolunteerMapper">

    <!--=======BasicMapper 메소드=======-->
    <select id="selectByPk" resultType="kh.petmily.domain.volunteer.VolunteerApply">
        select *
        from VOLUNTEERAPPLY
        where VANUMBER = #{pk}
    </select>

    <insert id="insert">
        insert into VOLUNTEERAPPLY(MNUMBER, VOLUNTEERSTARTDAY, VOLUNTEERPERIOD, SNUMBER)
        values (#{mNumber}, #{volunteerStartDay}, #{volunteerPeriod}, #{sNumber})
    </insert>

    <update id="update">
        update VOLUNTEERAPPLY
        set MNUMBER = #{mNumber}, VOLUNTEERSTARTDAY = #{volunteerStartDay}, VOLUNTEERPERIOD = #{volunteerPeriod},
        SNUMBER = #{sNumber}
        where VANUMBER = #{vaNumber}
    </update>

    <delete id="delete">
        delete from VOLUNTEERAPPLY
        where VANUMBER = #{pk}
    </delete>
    <!--=======BasicMapper 메소드=======-->

</mapper>

